<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" >
        <div class="list-unstyled" id="booking-card">
          <li> <h1> <strong><%= @booking.place.name %></strong> </h1> </li>
          <br>
          <li> start_time: <%= @booking.start_time %>  </li>
          <li> duration: <%= @booking.duration %> </li>
          <br>
          <li><%= @booking.place.address %></li>
          <li><%= @booking.place.country %></li>
          <li><%= @booking.place.city %></li>
        </div>
      </div>
    </div>
  </div>
</div>
